.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title {
        font-size: 28px;
        margin-bottom: 25px;
        cursor: pointer;
    }

    .preview {
        display: grid;
        // grid-auto-flow: column;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
