.sign-in-and-sign-up {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    justify-content: space-between;
    margin: 30px auto;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        width: unset;
        align-items: center;
        & .sign-in {
            margin-bottom: 50px;
        }
    }
}
